@{
    ViewBag.Title = "About";
}


<!--/header-->
<div class="about-content">
    <div class="container">
        <h2>Something About Me and Blogging:</h2>
        <div class="about-section">
            <div class="about-grid">
                @*<h3>WHY I STARTED THIS BLOG?</h3>
                <p>
                    Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.
                    It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including
                    versions of Lorem Ipsum.
                </p>*@
               
            </div>
            @*<div class="about-grid2">
                <h3>WHY YOU SHOULD READ THIS BLOG?</h3>
                <p>
                    This is my first time ever blogging or having blog page about me and my life. So i
                </p>
               
            </div>*@
            <div class="who-iam">
                <h3>WHO I AM?</h3>
                <div class="man-info">
                    <p>Hello, my name is John M. Carter IV.  I am 25 Years old, born and raised in North Carolina. I love to explore and try new things, love going to the beach, riding four-wheelers, hanging out with friends, going to concerts, and spending time with my family. My beliefs are hard work, dedication, sacrifice and honesty. I attended college and have a degree in Electronics Engineering Technology. Over the past few years I have worked for Spectrum learning the ins and outs on a variety of different types of technology and how they apply to our everyday lives. Also I have learned how to interact with the public and people from all walks of life, while working on and fixing their issues. Helping people has always been a passion of mine, thats why I started college to be a nurse while working as a CNA assisting elderly people with their everyday activites.  </p>
                    <h4>Some facts about me:</h4>
                    <li>Currently in school becoming a Junior Software Developer.</li>
                    <li>Very into new technology and love to see where it will end up.</li>
                    <li>I have my CrossFit Level 1 Certification. </li>
                    <li>Love being outside and going for hikes with my beagle puppy "Bo". </li>
                    
                   
                </div>
                <div class="man-pic">

                    @*<img src="~/Images/man.jpg" />*@
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</div>
